* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background:rgb(34, 44, 64);
    
}

h1 {

    text-align: center;
    margin-bottom: 20px;
}

div {

    width: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border-radius: 15px;
    color: #ffff;
}

input {

    padding: 15px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 15px;
}

button {

    background-color: blueviolet;
    border: none;
    padding: 15px;
    width: 100%;
    color: #ffff;
    font-size: 15px;
    transition: background-color 0.5s;
    cursor: pointer;
}

button:hover {

    background-color: rgb(73, 16, 126);
}

a {

   display: flex;
   margin-top: 10px;
   text-decoration: none;
   font-size: 17px;
   outline: none;
   color: #ffff;
   
}

